<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
<div class="box" id="heading">
<h1><%= today %></h1>
<ul>
<%   for (var i=0; i<newlistItem.length; i++){ %>
  <div class="item">
    <input type="checkbox" name="" value="">
<p><%= newlistItem[i] %></p>
</div>
<%  } %>
</ul>
<div class="box" id="input">
<form class="" action"/" method="post">
  <input type="text" name="newItem" autocomplete="off">
  <button type="submit" name="button">+</button></div></div>
  </body>
</html>
